#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box2-13 h2 {
  color: #252525;
}
#msg-box2-13 p {
  color: #252525;
}
#content5-4 .caption h3 {
  color: #fff;
}
#content5-4 P {
  color: #fff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box1-21 h2 {
  color: #fff;
}
#msg-box1-21 p {
  color: #fff;
}
